<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./style.css" />
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <title>ex01</title>
  </head>
  <body>
    <div id="app">
      <div>
        <form v-on:submit="addGoal">
          <input type="text" id="goal" v-model="enteredValue" />
          <button>클릭</button>
        </form>
        <ul>
          <li v-for="goal in goals">{{goal}}</li>
        </ul>
        <a v-bind:href="vueLink" target="_blank"> Vue.js 공식 문서 </a>
        <!-- <p v-html="outputGoal()"></p> -->
        <p>{{outputGoal()}}</p>
      </div>
    </div>
    <script src="./app.js"></script>
  </body>
</html>
